{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Usuários{% endblock %}

{% block content %}
    <table class="table">
        <thead>
          <tr>
            <th>Login</th>
            <th>Situação</th>
          </tr>
        </thead>
        {% for usuario in object_list %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>
                  {% if usuario.is_active %}
                    {% bootstrap_icon "thumbs-up" %}
                  {% else %}
                    {% bootstrap_icon "thumbs-down" %}
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
