{% extends 'core/defaults/list.html' %}
{% load bootstrap3 %}

{% block title %}Lançamentos{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <a href="{% url 'lancamento_add' %}" class="btn btn-md btn-success">Cadastrar lançamento</a>
  </div>
</div>

<table class="table table-responsive table-hover" role="table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Situação</th>
      <th>Vencimento</th>
      <th>Valor</th>
      <th>Tipo</th>
      <th>Classificação</th>
      <th>Alterar</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    {% for lancamento in object_list %}
    <tr>
      <td>{{ lancamento }}</td>
      <td>
        {% ifequal lancamento.situacao 'P' %}
          Projetado
        {% else %}
          Concretizado
        {% endifequal %}
      </td>
      <td>{{ lancamento.data_lancamento|date:'d/m/Y' }}</td>
      <td>R$ {{ lancamento.valor|floatformat:2 }}</td>
      <td>{{ lancamento.get_tipo }}</td>
      <td>{{ lancamento.get_classificacao_display }}</td>
      <td>
        {% bootstrap_button content='' href=lancamento.get_absolute_url button_type='link' icon='edit' button_class='btn btn-primary' size='sm' %}
      </td>
      <td>
        {% bootstrap_button content='' href=lancamento.get_delete_url button_type='link' icon='trash' button_class='btn btn-danger' size='sm' %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
